volumes:
  ny_taxi_postgres_data:
    driver: local
  kestra_postgres_data:
    driver: local
  kestra_data:
    driver: local

services:
  pgdatabase:
    image: postgres:18
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: ny_taxi
    ports:
      - "5432:5432"
    volumes:
      - ny_taxi_postgres_data:/var/lib/postgresql

  pgadmin:
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=root
    ports:
      - "8085:80"

  kestra_postgres:
    image: postgres:18
    volumes:
      - kestra_postgres_data:/var/lib/postgresql
    environment:
      POSTGRES_DB: kestra
      POSTGRES_USER: kestra
      POSTGRES_PASSWORD: k3str4
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 30s
      timeout: 10s
      retries: 10

  # NOTE: Added this service to be able to mount kestra_data as docker non-root:
  kestra_init:
    image: alpine:3.19
    user: "0:0"  # root
    command: ["sh", "-lc", "mkdir -p /app/storage && chown -R 1000:1000 /app/storage"]
    volumes:
      - kestra_data:/app/storage

  kestra:
    image: kestra/kestra:v1.1
    pull_policy: always
    ### Note that this setup with a root user is intended for development purpose.
    ### Our base image runs without root, but the Docker Compose implementation needs root to access the Docker socket
    ### To run Kestra in a rootless mode in production, see: https://kestra.io/docs/installation/podman-compose
    
    # This will be run NOT as root:
    user: "1000:1000"
    command: server standalone
    volumes:
      - kestra_data:/app/storage
      # Do NOT mount docker.sock
      # - /tmp/kestra-wd:/tmp/kestra-wd  # will not mount this (this is only kestras storage for downloaded data files, temporary files etc., if not mounted will not be persistent)
    environment:
      KESTRA_CONFIGURATION: |
        datasources:
          postgres:
            url: jdbc:postgresql://kestra_postgres:5432/kestra
            driverClassName: org.postgresql.Driver
            username: kestra
            password: k3str4
        kestra:
          server:
            basicAuth:
              username: "admin@kestra.io" # it must be a valid email address
              password: Admin1234
          repository:
            type: postgres
          storage:
            type: local
            local:
              basePath: "/app/storage"
          queue:
            type: postgres
          tasks:
            tmpDir:
              path: /tmp/kestra-wd/tmp
          url: http://localhost:8080/
    ports:
      - "8080:8080"
      - "8081:8081"
    depends_on:
      kestra_postgres:
        condition: service_started
      kestra_init:
        condition: service_completed_successfully  
    